
<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport-cotainer" #scroller>  
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    <span class="scrollable-content-wrapper">
        <ng-container *cdkVirtualFor="let item of data">
            <ng-container *ngTemplateOutlet="scrollItemTemplate, context: { $implicit: item }"></ng-container>
        </ng-container>  
    </span>    
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container> 
  </cdk-virtual-scroll-viewport>

