:root {
  --viewport-height:  
}


.viewport-cotainer {
    min-height: var( --viewport-height);
    width: inherit;
  }

  ::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper .scrollable-content-wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

  }