<div class="wrapper">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="mat-container">
    <mat-drawer #drawer>
      <div class="link">
        <ng-container *ngFor="let link of routeLinks">
          <div class="link-item" routerLink="{{link.Path}}" style="width:100%">{{link.Title}}</div>
        </ng-container>
      </div>

    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>