<div class="wrapper">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="mat-container">
    <mat-drawer #drawer>
      <div *ngFor="let link of routeLinks" class="row g-2">
        <div class="col-12 text-center">
          <a routerLink="{{link.Path}}">{{link.Title}}</a>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>